Pack1 - Make-Airtable DataBase to Klaviyo Events.blueprint.json
{
    "name": "Airtable - Klaviyo",
    "flow": [
        {
            "id": 8,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3843440
            },
            "mapper": {
                "base": "appBaXMvF21eDhnr2",
                "sort": [
                    {
                        "field": "Email",
                        "direction": "asc"
                    }
                ],
                "table": "tblPt9W3GwaniJHdY",
                "fields": [
                    "Name",
                    "Email",
                    "Profile ID",
                    "Checkout ID",
                    "Abandoned Products",
                    "Order History",
                    "AI Message",
                    "Score",
                    "My Score",
                    "Date",
                    "Created at",
                    "Última modificación por"
                ],
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 496,
                    "y": -128
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Shopify Lost CheckOut"
                        },
                        "sort": {
                            "mode": "chose",
                            "items": [
                                {
                                    "field": {
                                        "mode": "chose",
                                        "label": "Email"
                                    },
                                    "direction": {
                                        "mode": "chose",
                                        "label": "Ascending"
                                    }
                                }
                            ]
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Phase 2 | AI Message - Sentiment Analysis"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Name",
                                "Email",
                                "Profile ID",
                                "Checkout ID",
                                "Abandoned Products",
                                "Order History",
                                "AI Message",
                                "Score",
                                "My Score",
                                "Date",
                                "Created at",
                                "Última modificación por"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usrbQdrFQwVyd9Gt0)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Profile ID",
                        "type": "text",
                        "label": "Profile ID"
                    },
                    {
                        "name": "Checkout ID",
                        "type": "text",
                        "label": "Checkout ID"
                    },
                    {
                        "name": "Abandoned Products",
                        "type": "text",
                        "label": "Abandoned Products",
                        "multiline": true
                    },
                    {
                        "name": "Order History",
                        "type": "text",
                        "label": "Order History",
                        "multiline": true
                    },
                    {
                        "name": "AI Message",
                        "type": "text",
                        "label": "AI Message",
                        "multiline": true
                    },
                    {
                        "name": "Score",
                        "type": "text",
                        "label": "Score",
                        "multiline": true
                    },
                    {
                        "name": "My Score",
                        "type": "uinteger",
                        "label": "My Score",
                        "validate": {
                            "min": 1
                        }
                    },
                    {
                        "name": "Date",
                        "type": "text",
                        "label": "Date",
                        "multiline": true
                    },
                    {
                        "name": "Created at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "Última modificación por",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Última modificación por"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "klaviyo:createAnEvent",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3848532
            },
            "mapper": {
                "time": "{{timestamp}}",
                "value": "0",
                "profile": "{{8.Email}}",
                "unique_id": "{{8.id}}",
                "properties": [
                    {
                        "key": "Message",
                        "value": "{{8.`AI Message`}}"
                    },
                    {
                        "key": "Score",
                        "value": "{{8.Score}}"
                    }
                ],
                "metric_name": "Abandoned AI"
            },
            "metadata": {
                "designer": {
                    "x": 914,
                    "y": -136
                },
                "restore": {
                    "expect": {
                        "profile": {
                            "mode": "edit"
                        },
                        "properties": {
                            "items": [
                                null,
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "klaviyo"
                            },
                            "label": "My Klaviyo connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:klaviyo",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "profile",
                        "type": "select",
                        "label": "Profile Email",
                        "required": true
                    },
                    {
                        "name": "metric_name",
                        "type": "text",
                        "label": "Metric Name",
                        "required": true
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "time",
                        "time": true,
                        "type": "date",
                        "label": "Time"
                    },
                    {
                        "name": "value",
                        "type": "number",
                        "label": "Value"
                    },
                    {
                        "name": "unique_id",
                        "type": "text",
                        "label": "Unique ID"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 10,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "filter": {
                        "name": "Catch all",
                        "conditions": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 1156,
                            "y": 126
                        }
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}