Pack1 - N8N-ShopifyCheckout-LLM Message-Airtable-final-final.json
{
  "name": "My workflow 2 copy copy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=A client has abandoned their shopping cart. Based on the following details, write a personalized follow-up message that feels expert, human, and helpful: \nCustomer email: {{ $('Google Sheets').item.json.Email }}\nAbandoned products: {{ $('Shopify Trigger').item.json.line_items[0].presentment_title }}\nPast purchase history:{{ $json.orders }}\nBe warm, friendly, and sound like a real advisor in the beauty world. Reference the abandoned products and previous purchases. Include a gentle suggestion or helpful reminder DO NOT sound salesy or automated Only return the text of the message. IMPORTANT: DO NOT HALLUCINATE. Dont create names or products.",
        "messages": {
          "messageValues": [
            {
              "message": "You are a warm and professional beauty advisor for a premium skincare brand. Your tone is friendly, knowledgeable, and helpful,avoid being pushy or robotic."
            },
            {
              "message": "You are a warm and professional beauty advisor for a premium skincare brand. "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        100,
        -160
      ],
      "id": "7aff1223-0f6e-4267-9b21-d9008c66c7e9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please evaluate the following message: written by a beauty advisor, meant to bring a customer back after abandoning their cart.  Message: {{ $json.text }} \nGive your evaluation in the following format: Score (1 - 10)  \nEliminate markdown, just give me the score and a brief description on the evaluation",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert in persuasive communication, behavioral psychology, and emotional marketing. Your job is to evaluate follow-up messages intended to recover abandoned carts in a high-end skincare brand. You focus on emotional tone, personalization, and persuasive quality."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        400,
        -160
      ],
      "id": "f78d0b41-90ea-4a40-a3a3-47ca84dac2c7",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        120,
        80
      ],
      "id": "79ff7c02-06ce-4080-8058-aafd9860499e",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        80
      ],
      "id": "2f554a52-a1a9-4465-975e-c4897c3331aa",
      "name": "OpenRouter Chat Model2"
    },
    {
      "parameters": {
        "path": "685e4db1-97fa-4fdb-adda-7664b6c30000",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1060,
        -220
      ],
      "id": "69d3cf14-cd5f-4197-ba43-0a8728604b16",
      "name": "Webhook",
      "webhookId": "685e4db1-97fa-4fdb-adda-7664b6c30000"
    },
    {
      "parameters": {
        "url": "=https://abtqmb-q5.myshopify.com/admin/api/2023-04/orders.json?email={{ $json.Email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "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"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        -100
      ],
      "id": "24c9f35b-0886-42a1-9256-932cd53f733c",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBaXMvF21eDhnr2",
          "mode": "list",
          "cachedResultName": "Shopify Lost CheckOut",
          "cachedResultUrl": "https://airtable.com/appBaXMvF21eDhnr2"
        },
        "table": {
          "__rl": true,
          "value": "tblPt9W3GwaniJHdY",
          "mode": "list",
          "cachedResultName": "Phase 2 | AI Message - Sentiment Analysis",
          "cachedResultUrl": "https://airtable.com/appBaXMvF21eDhnr2/tblPt9W3GwaniJHdY"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "My Score": 0,
            "Name": "={{ $('Google Sheets').item.json.Name }}",
            "Email": "={{ $('Google Sheets').item.json.Email }}",
            "Abandoned Products": "={{ $('Shopify Trigger').item.json.line_items[0].presentment_title }}",
            "Order History": "={{ $('HTTP Request2').item.json.orders }}",
            "AI Message": "={{ $('Basic LLM Chain').item.json.text }}",
            "Score": "={{ $json.text }}",
            "Date": "={{ $('Shopify Trigger').item.json.created_at }}",
            "Profile ID": "={{ $('Shopify Trigger').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profile ID",
              "displayName": "Profile ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Checkout ID",
              "displayName": "Checkout ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Abandoned Products",
              "displayName": "Abandoned Products",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Order History",
              "displayName": "Order History",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Message",
              "displayName": "AI Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "My Score",
              "displayName": "My Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Última modificación por",
              "displayName": "Última modificación por",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        780,
        -160
      ],
      "id": "a478c45d-6e24-467e-8ab7-911e04199813",
      "name": "Airtable"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": true,
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "02013635-7f36-4e81-975f-c94aff3b2dec"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "009c0268-e4ab-427c-a268-95ed7131d7d0",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -700,
        -100
      ],
      "id": "d78d24fd-d10d-4107-85d8-ae02beb021fc",
      "name": "Switch1"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -880,
        -40
      ],
      "id": "0b43b98f-f2eb-4814-b74c-32c1616c3211",
      "name": "Wait1",
      "webhookId": "a1596772-7061-4fec-a70f-0c47f0c5fd69",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "topic": "checkouts/create"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        -1060,
        -60
      ],
      "id": "afad250c-b15b-461e-b7e6-30539addfb10",
      "name": "Shopify Trigger",
      "webhookId": "2a9881d1-7592-4a73-8b36-97413138d29a",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "W7NtsCSNPFEKZyO7",
          "name": "Shopify Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zuqXtRcPCQ8VCjQX2aL9yBXKTCkXDw3omOxgFpXOvxo",
          "mode": "list",
          "cachedResultName": "Shopify Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuqXtRcPCQ8VCjQX2aL9yBXKTCkXDw3omOxgFpXOvxo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuqXtRcPCQ8VCjQX2aL9yBXKTCkXDw3omOxgFpXOvxo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -460,
        -100
      ],
      "id": "1919bce6-6a85-4d8b-b071-abe426cef13f",
      "name": "Google Sheets"
    }
  ],
  "pinData": {},
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d80b56f-832d-4636-8d74-4d7dc66fb91b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b343e53d1fef9a3c753a5909326d2b21f090bcfe2af6f0de8e50f154908f8f53"
  },
  "id": "hNrDM6YuXSu76dfQ",
  "tags": []
}