N8N/EasyBroker To WhatsApp-Rodrigo Zayas.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        100
      ],
      "id": "e1bd98b3-2748-4b9d-9887-2e07c645a1fa",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://api.easybroker.com/v1/contacts?",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Authorization",
              "value": "b5rds4jsgna3njo2wyfjg56cc2yihw"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        0
      ],
      "id": "656c0cec-4d4b-4ed2-b2f6-874d3d034af7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app8TW620EaGl9tSo",
          "mode": "list",
          "cachedResultName": "CRM Inmobiliario",
          "cachedResultUrl": "https://airtable.com/app8TW620EaGl9tSo"
        },
        "table": {
          "__rl": true,
          "value": "tblb6XbgPshyyLzNK",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app8TW620EaGl9tSo/tblb6XbgPshyyLzNK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Asesor Inmobiliario (cliente)": false,
            "Presupuesto": 0,
            "Nombre": "={{ $json.full_name }}",
            "Email": "={{ $json.email }}",
            "Telefono": "={{ $json.phone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Renta / Venta ",
              "displayName": "Renta / Venta ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Renta",
                  "value": "Renta"
                },
                {
                  "name": "Compra",
                  "value": "Compra"
                },
                {
                  "name": "Venta",
                  "value": "Venta"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Presupuesto",
              "displayName": "Presupuesto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Asesor Inmobiliario (cliente)",
              "displayName": "Asesor Inmobiliario (cliente)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fases",
              "displayName": "Fases",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Desinteresado",
                  "value": "Desinteresado"
                },
                {
                  "name": "Valorando Opciones",
                  "value": "Valorando Opciones"
                },
                {
                  "name": "Opciones Enviadas",
                  "value": "Opciones Enviadas"
                },
                {
                  "name": "Cita",
                  "value": "Cita"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nivel de Interes",
              "displayName": "Nivel de Interes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bajo ",
                  "value": "Bajo "
                },
                {
                  "name": "Medio",
                  "value": "Medio"
                },
                {
                  "name": "Alto",
                  "value": "Alto"
                },
                {
                  "name": "Urgente",
                  "value": "Urgente"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha de Creacion",
              "displayName": "Fecha de Creacion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1040,
        -80
      ],
      "id": "f959488b-da63-4c78-be1c-ff38a109d3f6",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "ZiNMhMOXGqs77PGn",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "536452572887597",
        "recipientPhoneNumber": "=+524424790890",
        "textBody": "Funciona?",
        "additionalFields": {
          "previewUrl": false
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1040,
        120
      ],
      "id": "aef1c1ea-c42c-4758-abda-2373fc5c84c4",
      "name": "WhatsApp Business Cloud",
      "credentials": {
        "whatsAppApi": {
          "id": "6cNj33uqegxXa4oL",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "7b57a3e7-4dd6-4869-a1bd-717e9d7c2c41",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "ca2c8bd1-6da4-4143-9bc1-d1d7a7f24b10",
      "name": "Sort"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        760,
        0
      ],
      "id": "d66520a1-a291-49ac-bc2c-4df4c5793c13",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "id": "50a62108-a069-43c3-86ad-bc8231d147d7",
      "name": "Limit"
    },
    {
      "parameters": {
        "path": "5921b7bb-0196-4366-a332-55329993bc48",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -120,
        -40
      ],
      "id": "d2c3c87d-4858-46e2-a6e1-79243b94e640",
      "name": "Webhook",
      "webhookId": "5921b7bb-0196-4366-a332-55329993bc48"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8fbce511-0ecf-483d-8a57-19ec8d867812",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "879f8b8a0b40e8891f874da672796a17420d5f3fcbcda60c0059f49a5becd68f"
  },
  "id": "8bu801vkv7HQ1Cs5",
  "tags": []
}