N8N/N8N - (Agent) - Hubspot.json
{
  "name": "Hubspot Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -120
      ],
      "id": "21471892-1903-499b-9f57-1f0c0a3c4911",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "#role\nYou are a helpful assistant that helps me get the deals in Hubspot and sort out the ones that have been in the same stage for 3 days.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "#role\nYou are a helpful assistant that helps me get the deals in Hubspot and sort out the ones that have been in the same stage for 3 days. Send me the contacts that have been there 3 or more days, if there's no ID / contact that matches that condition, ignore them. If an ID / Contact matches the condition, send an email.\n\n#tools\nUse your tools to get the date, and the deal stage in hubspot, you have access to the id and contacts."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        140,
        -80
      ],
      "id": "ddc321e3-487e-4c22-9c28-c37720a71a2f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -180,
        80
      ],
      "id": "c0c075ee-3a03-407e-ad43-6ff5978924be",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fMBVhB89X6FQVoqj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -40,
        80
      ],
      "id": "32e99221-6541-483a-9d98-844f4de4574d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "deal",
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "properties": []
        }
      },
      "type": "n8n-nodes-base.hubspotTool",
      "typeVersion": 2.1,
      "position": [
        80,
        80
      ],
      "id": "4170d389-f187-440a-8070-922654c1a2d7",
      "name": "HubSpot",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "B7QLlSfWxy8UCXoc",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rodezayas@gmail.com",
        "subject": "Hello World!",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        -120
      ],
      "id": "8f90d125-2313-4cf8-a937-82999dbf0591",
      "name": "Gmail",
      "webhookId": "21f0f49a-381c-47fe-9c2e-cae6dacf3206",
      "credentials": {
        "gmailOAuth2": {
          "id": "KBjl6zc3vXtXI39n",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        440,
        80
      ],
      "id": "bcc38a2b-cf8c-443f-b5f0-38ec7763de86",
      "name": "Calculator"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and get the date",
        "url": "=https://www.google.com/search?q=date+today&rlz=1CAVNCX_enMX1070&oq=date+today&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQABgKGIAEMgcIAhAAGIAEMgcIAxAAGIAEMgcIBBAAGIAEMgcIBRAAGIAEMgcIBhAAGIAEMgcIBxAAGIAEMgcICBAuGIAEMgkICRAAGAoYgATSAQgxOTQ1ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        580,
        80
      ],
      "id": "ba941268-973e-4d49-be0a-2a47362b08ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "deal",
        "operation": "getRecentlyCreatedUpdated",
        "limit": 5,
        "filters": {}
      },
      "type": "n8n-nodes-base.hubspotTool",
      "typeVersion": 2.1,
      "position": [
        320,
        80
      ],
      "id": "1b121ce8-2156-4234-87a3-13c315909377",
      "name": "HubSpot1",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "B7QLlSfWxy8UCXoc",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_to_Get', ``, 'string') }}"
        },
        "additionalFields": {
          "propertiesCollection": {
            "propertiesValues": {
              "properties": [
                "createdate",
                "hs_lastmodifieddate",
                "hs_createdate",
                "hs_lead_status",
                "hs_latest_sequence_enrolled",
                "lastmodifieddate"
              ]
            }
          }
        }
      },
      "type": "n8n-nodes-base.hubspotTool",
      "typeVersion": 2.1,
      "position": [
        180,
        80
      ],
      "id": "afe058d9-323d-4eae-b143-97f75ade8c88",
      "name": "HubSpot2",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "B7QLlSfWxy8UCXoc",
          "name": "HubSpot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0107332-ac4c-4c71-b5dd-61670aec2647",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0924546922ca170a1e47451eabc81cff2a4a6bfa004fb95f443870c732d14469"
  },
  "id": "eXu1pvQ07ORM9OjR",
  "tags": []
}