Pack 1/Pack1 - N8N-ShopifyCheckout-LLM Message-Airtable-Final.json
{
  "name": "My workflow 2 copy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=A client has abandoned their shopping cart. Based on the following details, write a personalized follow-up message that feels expert, human, and helpful: \nCustomer email: {{ $('Google Sheets').item.json.Email }}\nAbandoned products: {{ $('Shopify Trigger').item.json.line_items[0].presentment_title }}\nPast purchase history:{{ $json.orders }}\nBe warm, friendly, and sound like a real advisor in the beauty world. Reference the abandoned products and previous purchases. Include a gentle suggestion or helpful reminder DO NOT sound salesy or automated Only return the text of the message. IMPORTANT: DO NOT HALLUCINATE. Dont create names or products.",
        "messages": {
          "messageValues": [
            {
              "message": "You are a warm and professional beauty advisor for a premium skincare brand. Your tone is friendly, knowledgeable, and helpful,avoid being pushy or robotic."
            },
            {
              "message": "You are a warm and professional beauty advisor for a premium skincare brand. "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        100,
        -160
      ],
      "id": "acd0e14d-8193-491d-ab8f-f6b962ad7d07",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please evaluate the following message: written by a beauty advisor, meant to bring a customer back after abandoning their cart.  Message: {{ $json.text }} \nGive your evaluation in the following format: Score (1 - 10)  \nEliminate markdown, just give me the score and a brief description on the evaluation",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert in persuasive communication, behavioral psychology, and emotional marketing. Your job is to evaluate follow-up messages intended to recover abandoned carts in a high-end skincare brand. You focus on emotional tone, personalization, and persuasive quality."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        400,
        -160
      ],
      "id": "349ca09d-e2cf-4328-af80-96f16e99e1b5",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        120,
        80
      ],
      "id": "9e93ebdf-bf12-4339-ae3c-2c0ca554f59c",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        80
      ],
      "id": "8f61803e-ab57-43a2-b935-e8aee399ad89",
      "name": "OpenRouter Chat Model2"
    },
    {
      "parameters": {
        "path": "52f1a522-f262-4911-ad8f-8b3b8b05b26a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1060,
        -220
      ],
      "id": "32110602-e65c-4910-af6b-a3ed1b1731a0",
      "name": "Webhook",
      "webhookId": "52f1a522-f262-4911-ad8f-8b3b8b05b26a"
    },
    {
      "parameters": {
        "url": "=https://abtqmb-q5.myshopify.com/admin/api/2023-04/orders.json?email={{ $json.Email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "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"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        -100
      ],
      "id": "f845d40a-d8e0-4d41-a9ea-6d601a442eec",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBaXMvF21eDhnr2",
          "mode": "list",
          "cachedResultName": "Shopify Lost CheckOut",
          "cachedResultUrl": "https://airtable.com/appBaXMvF21eDhnr2"
        },
        "table": {
          "__rl": true,
          "value": "tblPt9W3GwaniJHdY",
          "mode": "list",
          "cachedResultName": "Phase 2 | AI Message - Sentiment Analysis",
          "cachedResultUrl": "https://airtable.com/appBaXMvF21eDhnr2/tblPt9W3GwaniJHdY"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "My Score": 0,
            "Name": "={{ $('Google Sheets').item.json.Name }}",
            "Email": "={{ $('Google Sheets').item.json.Email }}",
            "Abandoned Products": "={{ $('Shopify Trigger').item.json.line_items[0].presentment_title }}",
            "Order History": "={{ $('HTTP Request2').item.json.orders }}",
            "AI Message": "={{ $('Basic LLM Chain').item.json.text }}",
            "Score": "={{ $json.text }}",
            "Date": "={{ $('Shopify Trigger').item.json.created_at }}",
            "Profile ID": "={{ $('Shopify Trigger').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profile ID",
              "displayName": "Profile ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Checkout ID",
              "displayName": "Checkout ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Abandoned Products",
              "displayName": "Abandoned Products",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Order History",
              "displayName": "Order History",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Message",
              "displayName": "AI Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "My Score",
              "displayName": "My Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Última modificación por",
              "displayName": "Última modificación por",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        780,
        -160
      ],
      "id": "a7d83fba-c50d-4651-86f4-44e88af37363",
      "name": "Airtable"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": true,
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "02013635-7f36-4e81-975f-c94aff3b2dec"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "009c0268-e4ab-427c-a268-95ed7131d7d0",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -700,
        -100
      ],
      "id": "7513bfbd-a1a6-4e82-8aaa-9935105189b9",
      "name": "Switch1"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -880,
        -40
      ],
      "id": "fb0383af-eef2-4d53-a883-8ca5610178e2",
      "name": "Wait1",
      "webhookId": "1fa1d1bf-9cb8-4266-88ed-e766b8c14d04",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "topic": "checkouts/create"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        -1060,
        -60
      ],
      "id": "2fea34f5-f65b-45c6-947d-99d2bded8d8c",
      "name": "Shopify Trigger",
      "webhookId": "9a96f78b-2756-429c-941f-a3275a92e60b",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "1yYmloFiOBKj5ryA",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zuqXtRcPCQ8VCjQX2aL9yBXKTCkXDw3omOxgFpXOvxo",
          "mode": "list",
          "cachedResultName": "Shopify Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuqXtRcPCQ8VCjQX2aL9yBXKTCkXDw3omOxgFpXOvxo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zuqXtRcPCQ8VCjQX2aL9yBXKTCkXDw3omOxgFpXOvxo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -460,
        -100
      ],
      "id": "0948fb81-b039-4815-a019-275f8f17ef28",
      "name": "Google Sheets"
    }
  ],
  "pinData": {},
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6603c9c8-653b-4597-b0f9-ad0031dfe848",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b343e53d1fef9a3c753a5909326d2b21f090bcfe2af6f0de8e50f154908f8f53"
  },
  "id": "KYKxijjoUFN8Uj7o",
  "tags": []
}